.post-link {
  position: relative;
  margin: 0;
  width: 182px;
  height: 182px;
  line-height: 0;
  overflow: hidden;
  cursor: pointer;

  &__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 182px;
  }

  &__stats {
    display: none;
    margin: 0;
    padding: 15px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: translateX(-50%);
  }

  &:hover .post-link__stats,
  &:focus .post-link__stats {
    display: flex;
  }

  &__stat {
    padding-left: 30px;
    position: relative;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: -7px;
      background-image: url("../../../../assets/img/sprite.svg");
      background-size: 100%;
    }

    &--comments {
      margin-right: 10px;
    }

    &--comments::before {
      width: 20px;
      height: 16px;
      background-position: 0 -59px;
    }

    &--likes::before {
      width: 20px;
      height: 16px;
      background-position: 0 -88px;
    }
  }
}
