.new-post {
  
  &__form {
    width: 600px;
    text-align: center;
  }
  &__preview {
    position: relative;
    margin-bottom: 30px;
  }

  &__resize {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    transform: translateX(-50%);
  }

  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: #ffffff;
  }
  
  &__preview img {
    display: block;
    max-width: 600px;
    max-height: 600px;
  }
  
  &__submit {
    padding: 10px 20px;
    color: #ffe753;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    background-color: rgba(255, 231, 82, 0.2);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  &__submit:hover,
  &__submit:focus {
    background-color: rgba(255, 231, 82, 0.4);
  }
  
  &__submit:active {
    transform: translateY(1px);
  }
  
  &__submit:disabled,
  &__submit--disabled {
    opacity: 0.3;
  }
}

