.navbar {
  display:  flex;
  justify-content: center;
  padding: 20px 0;

  &__button {
    padding: 5px 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: auto;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    background-color: #232321;
    border: none;

    &--active {
      color: #ff4e4e;   
      background-color: #ffffff;
      border-radius: 2px;
    }
  }
}