.login {
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  background-color: #232321;

  &__title {
    margin-bottom: 30px;
  }

  &__error {
    padding: 15px;
    margin-bottom: 25px;
    background-color:  #ff4e4e;
  }

  sup {
    color:  #ff4e4e;
  }

  & input {
    width: 100%;
    margin-bottom: 15px;
  }

  &__submit {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px 30px;
    background-color: #ffffff;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #ff4e4e;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s, transform 0.1s;

    &:hover {
      color: #ffffff;
      background-color:#ff4e4e;
    }

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      color: rgba(255,78,78, 0.5);
    }

    &:disabled:hover,
    &:disabled:active {
      background-color: #ffffff;
      cursor: default;
    }
  }

  &__footer {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
  }

  &__to-signup {
    color: #ff4e4e;
    font-weight: bold;
    font-size: 16px;

    &:hover {
      color: #ffffff;
    }
  }

  &__to-main {
    color: #ffffff;
    font-weight: 600;

    &:hover {
      color: #ff4e4e;
    }
  }
}